@each $font, $value in $fonts-size {
  .font--#{$font} {
    font-size: $value;
  }
}

.font--bold {
  font-weight: bold;
}

@each $color, $value in $colors {
  .color--#{$color} {
    color: $value;
  }
}
